<div class="container">
        <div class="row section">
            <div class="col s4">

            </div>
            <div class="col s4">
                <h1 class="center-align">Burger Time!</h1>
                <img class="responsive-img" id="burger" src="/assets/img/burger.png">
            </div>
            <div class="col s4">

            </div>
        </div>
   <div class="divider"></div>
        <div class="row section">
            <div class="col s4">
<h4>Choose Your Burger</h4>
   {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
            </div>
            <div class="col s4 center-align"><h2>Devour it!</h2>
                <a class="btn-floating btn-large pulse orange">
                    <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col s4">
<h4>Here are the Burgers You Have Devoured!</h4>
     {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
            </div>
        </div>
        <div class="divider"></div>
    </div>
    
    

<div class="row">
    <h2>Add A Burger Option</h2>
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Name Your Burger!">
      <button type="submit" class="addBurgerButton">Add It!</button>
    </form>
  </div>
</div>